.main-nav__list {
  .null-indents-list();
}

.main-nav__list--upper {
  display: flex;
  list-style: none;

  .main-nav__link {
    font-family: "Girl Roy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
}

.main-nav__list--inserted {
  .main-nav__link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    color: black;
  }
}
