.page-footer__list {
  .null-indents-list();
}

.page-footer__link {
  font-family: "Girl Roy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.page-footer__inner {
  width: 1160px;
  margin: 0 auto;
}
