.page-header {
  width: 1160px;
  margin: 0 auto;
}

.page-header__logo {
  font-family: "Girl Roy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
