.product-slider__title {
  font-family: "Girl Roy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 47px;
  text-decoration: none;
  color: black;
  width: 400px;
  display: block;
  margin-bottom: 15px;
  z-index: 1;
}

.product-slider__title--long {
  width: 500px;
}

.product-slider__parameter {
  font-family: "Girl Roy", "Arial", sans-serif;
  font-weight: lighter;
  font-size: 36px;
  .null-indents();
  padding-right: 70px;
  box-sizing: border-box;
  width: auto;
}

.product-slider__parameter-caption {
  font-size: 13px;
}

.product-slider {
  .null-indents();
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 60px;
}

.product-slider__inner {
  width: 500px;
  padding-top: 77px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    top: 36px;
    background-color: rgb(0, 255, 255);
  }
}

.product-slider__inner--first {
  &::after {
    content: "01";
    position: absolute;
    right: 0;
    top: -40px;
    font-family: "Girl Roy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 180px;
    color: rgb(255, 0, 255);
  }
}

.product-slider__inner--second {
  &::after {
    content: "02";
    position: absolute;
    right: 0;
    top: -40px;
    font-family: "Girl Roy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 180px;
    color: rgb(255, 0, 255);
  }
}

.product-slider__inner--third {
  &::after {
    content: "03";
    position: absolute;
    right: 0;
    top: -40px;
    font-family: "Girl Roy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 180px;
    z-index: -1;
    color: rgb(255, 0, 255);
  }
}

.product-slider__image-wrapper {
  width: 560px;
  .null-indents();
  text-align: center;
}

.product-slider__description {
  .null-indents();
  width: 480px;
  font-size: 15px;
  font-weight: lighter;
  line-height: 30px;
  margin-bottom: 55px;
}

.product-slider__text {
  margin-bottom: 65px;
}
